@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-info" asp-area="Identity" asp-page="/Account/Manage/Index" title="Configuraciones de cuenta">@User.Identity.Name.Substring(0, User.Identity.Name.IndexOf("@")).ToUpper()</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" title="Registrar administrador">Registrar Administrador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="RegistrarPersona" asp-action="Index" title="Pagina de personas de la fundacion">Personas</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesi&oacute;n</a>
            </li>
        }
    </ul>
