@{
    ViewData["Title"] = "Sobre Nosotros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!---Container de Sobre Nosotros-->
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 item" style="background-image: url('https://images.unsplash.com/photo-1455884981818-54cb785db6fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=690&q=80');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="heading2" style="color:#D84323;">Sobre Nosotros</h2> <!---Titulo de Sobre Nosotros-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!---Seccion de informacion de Sobre Nosotros-->
<div class="site-section mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 mb-5">
                <img src="~/images/fondoSobreNosotros.png" alt="Image placeholder" class="img-fluid"> <!---Imagen de Sobre Nosotros-->
            </div>
            <!---Primer Parrafo de Sobre Nosotros-->
            <div class="col-md-6" style="text-align: justify">
                <p> Fundación un Nuevo Comienzo, somos una organización de bien social, acreditada por el PANI. Nos dedicamos a la atención de las personas menores de edad que se encuentran en condiciones de pobreza, por medio de programas preventivos que les ayuda a desarrollar su máximo potencial para la edificación de una comunidad más segura, solidaria, inclusiva y participativa.</p>
                <p>Siendo conscientes de las secuelas negativas que le causa a la población menor de edad vivir en los barrios menos favorecidos del distrito de Pavas, realizamos actividades públicas con el fin de atraer a este sector de la sociedad e incorporarlo a nuestra fundación; con el objetivo de estimular su avance cognoscitivo, creativo y productivo.</p>
            </div>
            <!---Segundo Parrafo de Sobre Nosotros-->
            <div class="col-md-6" style="text-align: justify">
                <p>La ideología de trabajo que practicamos es: “Ser formadores de futuros líderes comunitarios”, pues capacitamos a los integrantes y al mismo tiempo les inculcamos la responsabilidad de instruir a otros en la misma forma en que ellos están siendo enseñados; de este modo generaremos puntos perdurables para el desarrollo sostenible de la educación, el arte, el deporte y la cultura. Es así como transformamos vidas que cambian vidas.</p>
                <p>Desde hace más de 20 años hemos sido una fundación de hecho, sin embargo, desde el 20 de marzo de 2015 se encuentra debidamente inscrita ante el Registro Público, el Ministerio de Salud, el Ministerio de Hacienda, Dirección General de Tributación. Actualmente formamos parte del programa de restauración del Juzgado Penal Juvenil y de Justicia Juvenil Restaurativa del Poder Judicial. También pertenecemos a la Coalición Comunitaria de Las Pavas; y somos actores activos de los festivales artísticos-culturales de la Municipalidad de San José.</p>
            </div>
        </div>

        <!---Espacio para mostrar Fundadores-->
        <div class="row mt-5">
            <div class="col-md-12 mb-5 text-center mt-5">
                <h2>Nuestros Fundadores</h2>
            </div>
            <!---Fundador1-->
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <!---Imagen Fundador-->
                            <img src="~/images/donGerson.png" alt="Image placeholder" style="border: 1px solid #ECECEC">
                            <h3 class="block-38-heading">Gerson Lopéz Mora</h3>
                            <p class="block-38-subheading">Presidente</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!---Fundador2-->
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <!---Imagen Fundador-->
                            <img src="~/images/rebeca.png" alt="Image placeholder" style="border: 1px solid #ECECEC">
                            <h3 class="block-38-heading">Rebeca Céspedes Chinchilla</h3>
                            <p class="block-38-subheading">Secretaria Administrativa</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!---Fundador3-->
            <div class="col-md-6 col-lg-4">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <!---Imagen Fundador-->
                            <img src="~/images/persona3.png" alt="Image placeholder" style="border: 1px solid #ECECEC">
                            <h3 class="block-38-heading">Michael López</h3>
                            <p class="block-38-subheading">Profesor Suplente / TI</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



