<!--Codigo para Form de Contáctenos-->
    <div class="block-31" style="position: relative;">
        <div class="owl-carousel loop-block-31 ">
            <div class="block-30 block-30-sm item" style="background-image:url('https://images.unsplash.com/photo-1509191436522-d296cf87d244?ixlib=rb-1.2.1&auto=format&fit=crop&w=709&q=80');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <!--Contenedor de titulo-->
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-7 text-center">
                            <h2 class="heading2" style="color:#AA7676">Contactenos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>