@{
    ViewData["Title"] = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!---Container de Galeria-->
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 item" style="background-image: url('https://images.unsplash.com/photo-1503676260728-1c00da094a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=709&q=80');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center">
                        <!---Titulo de Galeria-->
                        <h2 class="heading2" style="color:#568FB6">Galeria</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!---Secciones de bloques, para imagenes de Galeria-->
<div class="site-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="~/images/imagen1.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen1.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen2.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen2.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen3.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen3.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen4.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen4.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>

            <div class="col-md-4">
                <a href="~/images/imagen5.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen5.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>

            <div class="col-md-4">
                <a href="~/images/imagen9.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen9.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen10.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen10.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>

            <div class="col-md-4">
                <a href="~/images/imagen11.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen11.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen12.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen12.png" alt="Image placeholder" class="img-fluid"> <!---Insertar imagen de Galeria-->
                </a>
            </div>
        </div>
    </div>
</div>

<!--Seccion para Informacion, de patrocinadores y voluntarios-->
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-donate"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Patrocinio</h3>
                        <p>Si usted desea donar, contáctese con nosotros y ayúdanos a brindar más oportunidades a los niños de nuestra ONG.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Voluntariado</h3>
                        <p>Sé parte de nuestro equipo, ayudando como voluntario en Fundación Un Nuevo Comienzo. ¡Contáctese con nosotros!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> <!-- .fin de seccion -->