@{
    ViewData["Title"] = "Galeria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 item" style="background-image: url('https://scontent.fsyq2-1.fna.fbcdn.net/v/t1.0-9/66085951_2348288082113585_8299242400723763200_n.jpg?_nc_cat=104&_nc_oc=AQki-2acG4JJg80MCH_GxXhyq9vS8CXmeJt_tm6EwCeXY5yQT73sSmttD12Ofqo9Hnw&_nc_ht=scontent.fsyq2-1.fna&oh=da5a401e6e3e80254d48b4a5fbeef8a1&oe=5DB3EED2');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="heading2" style="color:#fff">Galeria</h2>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="~/images/imagen1.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen1.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen2.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen2.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen3.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen3.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen4.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen4.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>

            <div class="col-md-4">
                <a href="~/images/imagen5.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen5.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen6.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen6.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>

            <div class="col-md-4">
                <a href="~images/imagen7.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~images/imagen7.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~images/imagen8.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~images/imagen8.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen9.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen9.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen10.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen10.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>

            <div class="col-md-4">
                <a href="~/images/imagen11.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen11.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
            <div class="col-md-4">
                <a href="~/images/imagen12.png" class="image-popup img-hover">
                    <span class="icon icon-search"></span>
                    <img src="~/images/imagen12.png" alt="Image placeholder" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-donate"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Patrocinio</h3>
                        <p>Si usted desea donar, contáctese con nosotros y ayúdanos a brindar más oportunidades a los niños de nuestra ONG.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Voluntariado</h3>
                        <p>Sé parte de nuestro equipo, ayudando como voluntario en Fundación Un Nuevo Comienzo. ¡Contáctese con nosotros!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div> <!-- .site-section -->