@{
    ViewData["Title"] = "Un Nuevo Comienzo";
}
 <!--- Inicio-->
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
         <!---Imagen Inicio-->
        <div class="block-30 item" style="background-image: url('imagenes/[www.uwlm.ca][949]all-that-kids-can-be-v3.jpg');" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                     <!---Texto Imagen Inicio-->
                    <div class="col-md-7">
                        <blockquote>
                            <h2 class="heading"> Cada niño merece una oportunidad. Una infancia. Un futuro.</h2>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

 <!---Seccion Vision Inicio-->
<div class="site-section">
    <div class="container">
        <div class="row">
             <!---Mision Inicio-->
            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-charity"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Misi&oacute;n</h3>
                        <p>Promover y defender mediante procesos educativos, los deberes y derechos de las personas menores de edad en estado de pobreza.</p>
                        <p><a  asp-area="" asp-controller="Home" asp-action="AboutUs" style="color:#F4A411;">Leer Más</a></p>
                    </div>
                </div>
            </div>
             <!---Vision Inicio-->
            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-heart-box"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Visi&oacute;n</h3>
                        <p>Ser la mejor alternativa de desarrollo cognoscitivo, especializada en generar espacios innovadores en los campos de la educaci&oacute;n, tecnología, arte y deporte.</p>
                        <p><a asp-area="" asp-controller="Home" asp-action="AboutUs" style="color:#F4A411;">Leer Más</a></p>
                    </div>
                </div>
            </div>
             <!---Objetivo Inicio-->
            <div class="col-md-4">
                <div class="media block-6">
                    <div class="icon"><span class="flaticon-people"></span></div>
                    <div class="media-body">
                        <h3 class="heading">Objetivo</h3>
                        <p>
                            Contribuir de forma integral la
                            transformación y fortalecimiento de
                            una mejor sociedad, comenzando
                            por la niñez y hasta los padres.
                        </p>
                        <p><a asp-area="" asp-controller="Home" asp-action="AboutUs" style="color:#F4A411;">Leer Más</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- .site-section -->


 <!---Seccion Quienes Somos-->
<div class="featured-donate overlay-color" style="background-image: url('images/fondoONG.png');">

    <div class="container">
        <div class="row">
              <!---Imagen Quienes Somos-->
            <div class="col-lg-8 order-lg-2 mb-3 mb-lg-0">
                <img src="~/images/fondoONG.png" alt="Image placeholder" class="img-fluid">
            </div>
             <!---Texto Quienes Somos-->
            <div class="col-lg-4 pr-lg-5">
                <span class="featured-text mb-3 d-block">Fundacion Un Nuevo Comienzo</span>
                <h2>¿Quienes Somos?</h2>
                <br />
                <p class="mb-3">
                    Estamos dedicados a la atención de las personas menores
                    de edad que se encuentran en condiciones de pobreza y
                    pobreza extrema; esto lo hacemos por medio de
                    programas preventivos, que son impartidos en módulos
                    de Refuerzo escolar, psicología, valores, arte, cultura,
                    deporte y un Centro de Alimentación.
                </p>
            </div>

        </div>
    </div>

</div> <!-- .featured-donate -->

<!--Programas -->
<div class="site-section fund-raisers">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2>Programas</h2>
            </div>
        </div>
        
        <div class="row">

            <div class="col-md-12 block-11">
                <div class="nonloop-block-11 owl-carousel">
                     <!-- Programa Coro -->
                    <div class="card fundraise-item">
                        <a href="#"><img class="card-img-top" src="images/img_1.jpg" alt="Image placeholder"></a>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#">Coro</a></h3>
                            <p class="card-text">El objetivo es enseñarles a cantar y proyectarles más allá de sus comunidades, llevándolos a actividades públicas en distintos distritos y empresas. </p>
                            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">$8,100 raised of $30,000</span>
                        </div>
                    </div>

                     <!-- Programa Danza Moderna -->
                    <div class="card fundraise-item">
                        <a href="#"><img class="card-img-top" src="images/img_2.jpg" alt="Image placeholder"></a>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#">Danza Moderna</a></h3>
                            <p class="card-text">Nuestro alumnos aprenden y desarrollan habilidades a través de la expresión corporal y las técnicas básicas de la danza.</p>
                            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">$8,100 raised of $30,000</span>
                        </div>
                    </div>
                     <!-- Programa Refuerzo Escolar -->
                    <div class="card fundraise-item">
                        <a href="#"><img class="card-img-top" src="images/img_3.jpg" alt="Image placeholder"></a>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#">Refuerzo Escolar</a></h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">$8,100 raised of $30,000</span>
                        </div>
                    </div>

                     <!-- Programa Comedor -->
                    <div class="card fundraise-item">
                        <a href="#"><img class="card-img-top" src="images/img_1.jpg" alt="Image placeholder"></a>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#">Comedor</a></h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">$8,100 raised of $30,000</span>
                        </div>
                    </div>

                    <!-- Programa Psicología -->
                    <div class="card fundraise-item">
                        <a href="#"><img class="card-img-top" src="images/img_2.jpg" alt="Image placeholder"></a>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#">Psicología</a></h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">$8,100 raised of $30,000</span>
                        </div>
                    </div>

                    <!-- Programa Teatro -->
                    <div class="card fundraise-item">
                        <a href="#"><img class="card-img-top" src="images/img_3.jpg" alt="Image placeholder"></a>
                        <div class="card-body">
                            <h3 class="card-title"><a href="#">Teatro</a></h3>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <span class="donation-time mb-3 d-block">Last donation 1w ago</span>
                            <div class="progress custom-progress-success">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="fund-raised d-block">$8,100 raised of $30,000</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> <!-- .section -->




<div class="featured-section overlay-color-2" style="background-image: url('images/fondoPayasos.png');">

    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <img src="~/images/fondoPayasos.png" alt="Image placeholder" class="img-fluid">
            </div>

            <div class="col-md-6 pl-md-5">
                <span class="featured-text d-block mb-3"></span>
                <h2>Amor, Convicción y Sensibilidad</h2>
                <p class="mb-3">
                    Toda esta labor la realizamos, primero por amor, convicción y sensibilidad; y
                    segundo, porque muchos pedagogos, psicólogos y educadores, coinciden que
                    la educación y formación de valores en los niños y niñas debe iniciarse a
                    temprana edad para así evitar en un futuro la distorsión de la personalidad.
                    <br /><br />
                    Nuestra propuesta ha reducido significativamente la congruencia de la niñez y
                    adolescencia a los lugares de ocio, pues hemos logramos incrementar los
                    espacios de alcance y avance.
                </p>
                <span class="fund-raised d-block mb-5">Igualdad de Oportunidades</span>

            </div>

        </div>
    </div>

</div> <!-- .featured-donate -->


</div> <!-- .section -->
