<!--Codigo para Form Programas de Patrocinadores-->
<div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
        <div class="block-30 block-30-sm item" style="background-color:#F4F3F2;" data-stellar-background-ratio="0.5">
            <div class="container">
                <!--Contenedor de titulo Patrocinadores-->
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7 text-center">
                        <h2 class="heading2" style="color:#F8AE60">Patrocinadores</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section mb-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <img src="~/images/logo_ice.png" alt="Image placeholder" class="img-fluid"> <!---Imagen de Sobre Nosotros-->
            </div>
            <div class="col-md-4 mb-5">
                <img src="~/images/Logo ULACIT.png" alt="Image placeholder" class="img-fluid" style="padding-top: 30%;">
            </div>
            <div class="col-md-4 mb-5">
                <img src="~/images/logo_Ulatina.jpg" alt="Image placeholder" class="img-fluid"  style="padding-top: 20%;">
            </div>
                </div>
            </div>
    </div>
