@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Informaci\u00f3n Personal Almacenada";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>En esta p&aacute;gina puede descargar o borrar toda la informaci&oacute;n personal que ha almacenado.</p>
        <p>
            <strong>Al borrar la informaci&oacute;n, &eacute;sta no podr&aacute; ser recuperada posteriormente</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-primary" type="submit">Descargar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary" style="background-color:red;">Borrar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}