
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/ContactUs.cshtml";
}

<h1>Index</h1>

@using(Html.BeginForm("Index", "a", FormMethod.Post))
{
    @Html.TextBoxFor(model=> model.Name , new { @class= "form-control", @placeholder="Name"  })
    @Html.ValidationMessageFor(model=>model.Name, "", new { @class="error"})

    <input type="submit" value="Submit" >
}

